nav	{
		background-color: #D4CDCD;
		padding: 5px 15% 5px 15%;
		display: flex !important;
	}
		
.nav-logo h2	{
				margin: 0px;
				display: inline-block;
				text-decoration: none;
				color: black;
			}
			
.nav-account-button	{
						display: flex;
						justify-content: flex-end;
					}
			
.nav-account-link-profile	{
								background-color: #BEB8B8;
								padding: 0px 15px 0px 15px;
								display: flex;
								align-items: center;
							}
							
.nav-account-link-profile, .nav-account-link-profile:hover, .nav-account-link-profile:active, .nav-account-link-profile:visited, .nav-account-link-profile:link {
									color: black;
									text-decoration: none;
								}
								
.nav-login-form	{
					background-color: #D4CDCD;
				}
				
.nav-account-drop-options	{
								align-self: center;
							}