.home-problems
{
	background-color: #fff;
	height: 100%;
	padding: 0;
    overflow-y: auto;
	transition: width 0.6s;
	border-right: 1px solid #c1c1c1;
}

.home-problems .row
{
    margin: 0;
}

.problem-add,
.problem-add:hover,
.problem-add:link,
.problem-add:visited,
.problem-add:active
{
	background-color: #2ecc71;
	text-align: center;
	color: white;
	font-family: "MontserratBold", Arial, sans-serif;
	text-transform: uppercase;
    text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.4s;
}

.problem-add:hover
{
	background-color: #27ae60;
}

.home-content
{
	transition: width 0.6s;
	height: 100%;
	overflow-y: auto;
}