.pb-page-header
{
    background-color: #ecf0f1;
    padding: 30px;
	word-break: break-all;
}

h1
{
    font-weight: bold;
    text-align: center;
    margin: 0;
}

h1 .pb-page-date
{
    font-size: 0.5em;
    color: #828282;
    font-weight: normal;
    display: block;
    margin-top: 10px;
}

h1 img
{
    width: 1em;
}

.pb-page-content
{
    padding: 30px;
    line-height: 1.5em;
    font-size: 1.25em;
	background-color: #fff;
}

.pb-page-files
{
    background-color: #2c3e50;
    color: #fff;
    padding: 0 30px 0 30px;
}

.pb-page-files img
{
	width: 20%;
	cursor: pointer;
}

.page-file-name
{
	color: #fff;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.file-container
{
	margin: 20px 0 20px 0;
}

pre
{
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0 0 0 5px;
}

pre::before
{
    content: none !important;
}

pre:focus
{
    outline:0;
}

.file-unfocus
{
    opacity: 0.5;
}

.file-display-header
{
    background-color: #292929;
    padding: 5px;
    text-align: center;
}

.file-display-header p,
.file-display-header p.pb-code-edit
{
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
}

.file-display-header p.pb-code-edit
{
    background-color: #2ecc71;
    float: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-display-header p.pb-code-edit:hover
{
    background-color: #27ae60;
}

.file-display-header .file-undisplay
{
    font-size: 1.5em;
    float: right;
    color: #e74c3c;
    cursor: pointer;
    transition: color 0.3s;
}

.file-display-header .file-undisplay:hover
{
    color: #c0392b;
}

section.pb-comments
{
    background-color: #fff;
    padding-top: 40px;
}

section.pb-comments .form-group
{
    padding: 0;
}

.form-group button
{
    font-weight: bold;
}

.label-code-saved
{
    font-size: 0.9em;
}

.pb-comments-list
{
	padding: 10px 20px 10px 20px;
}

div.pb-comments-comment
{
	background-color: #ecf0f1;
	padding: 10px 15px 10px 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}

div.pb-comments-comment p.com-author
{
	font-family: "Opensans", Arial, sans-serif;
	color: #6e6e6f;
	font-size: 1.2em;
}

div.pb-comments-comment p.com-content
{
	font-family: "Montserrat";
	padding: 0 10px 0 10px;
	margin-bottom: 0;
}

div.com-date-container
{
	text-align: right;
	padding: 0 15px 0 0;
	font-style: italic;
	font-weight: bold;
	color: #6e6e6f;
}

.label-has-correction-container
{
	margin-top: 10px;
	font-size: 1.2em;
}

.label-has-correction
{
	cursor: pointer;
	padding: 6px;
}