.list-pb-display
{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-pb-display li
{
    width: 100%;
    background-color: #dedede;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

.list-pb-display li a
{
    text-decoration: none;
}

.list-pb-display li .col
{
    padding: 0;
}

.pb-display-logo
{
    padding: 0px 10px 0px 10px;
	float: left;
}

.pb-display-logo img
{
    width: 3em;
}

.pb-display-titre
{
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

.pb-display-date
{
    padding-right: 10px !important;
    text-align: right;
    font-style: italic;
    float: right;
    color: #6e6e6f;
	font-weight: bold;
}

.pb-display-auteur
{
    color: #6e6e6f;
    font-family: "Opensans", Arial, sans-serif;
    letter-spacing: 0.08em;
}