.pb-page-header
{
    background-color: #ecf0f1;
    padding: 30px;
	word-break: break-all;
}

.pb-page-header h1
{
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.pb-page-header .pb-page-date
{
    font-size: 1.5em;
    color: #828282;
    font-weight: normal;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.pb-page-header img
{
    width: 1em;
}

.pb-page-header .problem-solved-label
{
	margin: 10px 0 0 0;
	font-size: 1.3em;
}

.pb-page-content
{
    padding: 30px;
    line-height: 1.5em;
    font-size: 1.25em;
	background-color: #fff;
}

.pb-page-files
{
    background-color: #2c3e50;
    color: #fff;
    padding: 0 30px 0 30px;
}

.pb-page-files img
{
	width: 20%;
	cursor: pointer;
}

.page-file-name
{
	color: #fff;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.file-container
{
	margin: 20px 0 20px 0;
}

pre
{
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0 0 0 5px;
}

pre::before
{
    content: none !important;
}

pre:focus
{
    outline:0;
}

.file-unfocus
{
    opacity: 0.5;
}

.file-display-header
{
    background-color: #292929;
    padding: 5px;
    text-align: center;
}

.file-display-header p,
.file-display-header p.pb-code-edit
{
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
}

.file-display-header p.pb-code-edit
{
    background-color: #2ecc71;
    float: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-display-header p.pb-code-edit:hover
{
    background-color: #27ae60;
}

.file-display-header .file-undisplay
{
    font-size: 1.5em;
    float: right;
    color: #e74c3c;
    cursor: pointer;
    transition: color 0.3s;
}

.file-display-header .file-undisplay:hover
{
    color: #c0392b;
}

section.pb-comments
{
    background-color: #fff;
    padding-top: 40px;
}

section.pb-comments .form-group
{
    padding: 0;
}

.form-group button
{
    font-weight: bold;
}

.label-code-saved
{
    font-size: 0.9em;
}

.pb-comments-list
{
	padding: 10px 20px 10px 20px;
}

div.pb-comments-comment
{
	background-color: #ecf0f1;
	padding: 10px 15px 10px 15px;
	margin-bottom: 15px;
	border-radius: 10px;
    box-shadow: 0px 2px 7px 0px #adadad;
}

div.pb-comments-comment-validated
{
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
}

div.pb-comments-comment-answering
{
    margin-bottom: 10px;
}

.comment-reply-form
{
    margin-bottom: 25px;
    padding: 0;
}

.comment-reply-form button
{
    margin-top: 10px;
    font-weight: bold;
}

.pb-coms-com-validated
{
    background-color: #2ecc71;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pb-coms-com-validated span
{
    color: white;
    font-size: 25px;
}

.pb-coms-com-content
{
    padding: 0;
}

.pb-coms-com-content-validated
{
    width: calc(100% - 40px);
    padding-top: 10px;
    padding-bottom: 10px;
}

div.pb-comments-comment p.com-author
{
	font-family: "Opensans", Arial, sans-serif;
	color: #6e6e6f;
	font-size: 1.2em;
}

div.pb-comments-comment p.com-content
{
	font-family: "Montserrat";
	padding: 0 10px 0 10px;
	margin-bottom: 0;
}

div.com-date-container
{
	text-align: right;
	padding: 0 15px 0 0;
	font-style: italic;
	font-weight: bold;
	color: #6e6e6f;
}

.label-has-correction-container
{
	margin-top: 10px;
	font-size: 1.2em;
}

.label-has-correction
{
	cursor: pointer;
	padding: 6px;
}

.comment-delete, .comment-reply
{
	margin-right: 10px;
    background: transparent;
}

.comment-reply img
{
    width: 1em;
}

.log-for-comment-container
{
	text-align: center;
	margin-bottom: 40px;
}

.log-for-comment-container a
{
	text-decoration: none;
}

.log-for-comment-label
{
    font-size: 0.9em;
    background-color: #1d2247;
    padding: 6px;
}

.img-display-container
{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    padding: 40px;
}

.img-display-container img
{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.undisplay-image-cross
{
    position: absolute;
    color: #fff;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.2s;
}

.undisplay-image-cross:hover
{
    color: #d6d6d6;
}