@font-face
{
	font-family: "FrancoisOne";
	src: url(../../font/francoisone/FrancoisOne.ttf);
}

@font-face
{
	font-family: "OpenSans";
	src: url(../../font/opensans/OpenSans-Regular.ttf);
}

@font-face
{
	font-family: "Montserrat";
	src: url(../../font/montserrat/Montserrat-Regular.ttf);
}

@font-face
{
	font-family: "MontserratBold";
	src: url(../../font/montserrat/Montserrat-Bold.ttf);
}

nav
{
	background-color: #1D2247;
	padding: 5px 0 5px 0;
	display: flex !important;
}

nav .nav-brand
{
    text-align: center;
}

nav h2	
{
	margin: 0px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-family: "FrancoisOne", Arial, sans-serif;
}

.nav-account-button
{
	display: flex;
	justify-content: flex-end;
    align-items: center;
    padding-right: 50px !important;
}

.nav-account-notification
{
    color: #fff;
    margin-right: 20px;
    display: flex !important;
    align-items: center;
}

.nav-account-notification-link,
.nav-account-notification-link:hover,
.nav-account-notification-link:active,
.nav-account-notification-link:visited,
.nav-account-notification-link:link
{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.nav-account-button-link,
.nav-account-button-link:hover,
.nav-account-button-link:active,
.nav-account-button-link:visited,
.nav-account-button-link:link
{
	color: white;
	text-decoration: none;
	font-family: "Montserrat", Arial, sans-serif;
	display: flex;
	padding: 0px 10px 0px 10px;
	border-radius: 4px;
	transition: 0.2s;
}

.nav-account-button-link:hover
{
	background-color: rgba(255, 255, 255, 0.1);
}

.nav-account-button-link-user
{
	cursor: default;
    margin-right: 10px;
}

.nav-account-button a span
{
	margin-right: 7px;
}
	

.nav-account-drop-options-triangle,
.nav-account-drop-options-triangle:hover,
.nav-account-drop-options-triangle:active,
.nav-account-drop-options-triangle:visited,
.nav-account-drop-options-triangle:link
{
	color: white;
	cursor: pointer;
	font-size: 0.9em;
}

.dropdown-menu
{
	font-family: "OpenSans", Arial, sans-serif;
}

.nav-nb-notification-badge
{
    background-color: #3498db !important;
    margin: 0 !important;
}