<ul class="list-pb-display">
        
    {% for problem in listProblems %}
        
        <li class="list-pb-display-li">
            {{ problem.titre }}
        </li>
        
      {% endfor %}
        
 </ul>